*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.7; }

@media (max-width: 1400px) {
  html {
    font-size: 58%; } }

@media (max-width: 1007px) {
  html {
    font-size: 56%; } }

@media (max-width: 767px) {
  html {
    font-size: 55%; } }

@media (max-width: 614px) {
  html {
    font-size: 52%; } }

.container {
  max-width: 1250px;
  margin: auto;
  padding: 0 2.5rem; }

.btn {
  background-color: #CF4B2F;
  border-radius: 3rem;
  padding: 1.5rem 8rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  transform: translateY(0);
  transition: all 0.15s ease-in-out;
  backface-visibility: hidden; }

.btn:hover {
  background-color: #ba432a;
  transform: translateY(-0.5rem);
  transition: all 0.15s ease-in-out;
  -webkit-box-shadow: 0px 4px 50px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 50px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 50px -7px rgba(0, 0, 0, 0.75);
  backface-visibility: hidden; }

.btn:active {
  transform: translateY(0.2rem);
  transition: all 0.15s ease-in-out;
  -webkit-box-shadow: 0px 18px 67px -29px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 18px 67px -29px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 18px 67px -29px rgba(0, 0, 0, 0.75);
  backface-visibility: hidden; }

.block {
  display: block; }

.width_and_height_max {
  width: 100%;
  height: 100%; }

.flex {
  display: flex; }

.small {
  width: 5rem; }

.height_big {
  height: 100vh; }

.text_center {
  text-align: center; }

.border_primary {
  border: #CF4B2F 1px solid; }

.text_semibold {
  font-weight: 600; }

.form-error {
  color: red; }

.form-success {
  color: green; }

.input-error {
  box-shadow: 0 0 5px red; }

.form-message {
  margin: 1rem; }

.section .video-container.js-video.youtube-video-place {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40vw;
  margin: auto;
  margin-top: 7rem; }
  .section .video-container.js-video.youtube-video-place .video-image {
    width: 100%;
    height: 100%;
    border-radius: 3.3rem;
    object-fit: cover; }
  .section .video-container.js-video.youtube-video-place .video__btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    border: none;
    -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.75);
    outline: none; }
    .section .video-container.js-video.youtube-video-place .video__btn img {
      position: absolute;
      left: 55%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2rem; }
  .section .video-container.js-video.youtube-video-place .video__btn:hover {
    cursor: pointer; }

.modal.slider_modal p {
  font-size: 1.7rem;
  margin-bottom: 2rem;
  color: #5B5B5B !important; }

.modal.slider_modal h2 {
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 1rem; }

.modal {
  max-width: 800px !important; }

.close_modal {
  padding: 1rem 3.5rem;
  background-color: #CF4B2F;
  border-radius: 2.1rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  margin-bottom: 1rem;
  display: inline-block;
  transition: all 0.2s ease-in-out; }

.close_modal:hover {
  background-color: #ba432a;
  transition: all 0.2s ease-in-out; }

@media (min-width: 43.75em) {
  .button_li {
    display: none; } }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A161A;
  color: #fff;
  padding: 1rem 3rem;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%; }
  @media (max-width: 43.75em) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      opacity: 0.9; } }

.btn_navbar {
  padding: 1rem 3.5rem;
  background-color: #CF4B2F;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 2.1rem;
  display: block; }

.logo {
  font-size: 2.3rem;
  margin: .5rem; }

.navbar_links ul {
  margin: 0;
  padding: 0;
  display: flex; }
  @media (max-width: 43.75em) {
    .navbar_links ul {
      width: 100%;
      flex-direction: column; } }

.navbar_links li {
  list-style: none; }
  @media (max-width: 43.75em) {
    .navbar_links li {
      text-align: center; } }

.navbar_links li a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
  display: block;
  position: relative;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out; }
  @media (max-width: 43.75em) {
    .navbar_links li a {
      padding: 2rem 1rem; } }

.navbar_links li a:hover:after {
  content: "";
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 0;
  width: 50%;
  height: 1px;
  background-color: #CF4B2F;
  transition: all 0.3s ease-in-out; }

.toggle-button {
  position: absolute;
  top: 2.3rem;
  right: 3.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 3rem;
  height: 2.1rem;
  background-color: transparent;
  outline: none;
  border: none;
  z-index: 6; }
  @media (max-width: 43.75em) {
    .toggle-button {
      display: flex; } }

.toggle-button .bar {
  height: .2rem;
  width: 100%;
  background-color: #fff;
  border-radius: 1rem; }

@media (max-width: 43.75em) {
  .navbar_links,
  .btn.btn_navbar {
    display: none; }
  .navbar_links {
    width: 100%; }
  .btn.btn_navbar {
    display: none; }
  .navbar_links.active {
    display: flex; } }

#home {
  background-color: #1A161A;
  color: #fff;
  margin-bottom: 12rem; }
  @media (max-width: 43.75em) {
    #home {
      margin-bottom: 6rem; } }

.home_picture {
  padding: 18rem;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  z-index: 1; }
  .home_picture .parent_img:after {
    content: "";
    position: absolute;
    top: 0;
    left: 12%;
    background-image: linear-gradient(to left, rgba(26, 22, 26, 0) 0%, #1a161a 80%);
    width: 20%;
    height: 85%;
    z-index: 10; }
  .home_picture .main_image {
    z-index: 1;
    width: 100%;
    position: relative; }

.home_container {
  max-width: 1400px;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative; }
  .home_container .header_text {
    z-index: 2; }
    .home_container .header_text .header_red_text {
      color: #CF4B2F;
      font-size: 1.6rem; }
    .home_container .header_text .home_title {
      font-size: 3.3rem;
      font-weight: 600;
      line-height: 5rem;
      margin-bottom: 4rem; }

.usluge_description {
  padding: 5rem 0;
  max-width: 74rem; }
  .usluge_description .usluge_red_text {
    color: #CF4B2F;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase; }
  .usluge_description h2 {
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 4rem;
    color: #1A161A;
    margin: 2rem 0; }
  .usluge_description_main {
    font-size: 1.7rem;
    color: #5B5B5B;
    line-height: 3.5rem; }

.swiper-container {
  width: 95%; }
  .swiper-container .swiper-slide {
    font-size: 2.2rem;
    padding: 0 2rem; }
    .swiper-container .swiper-slide_container {
      position: relative; }
    .swiper-container .swiper-slide img {
      width: 100%;
      height: 100%;
      border-radius: 11px;
      filter: brightness(75%); }
    .swiper-container .swiper-slide p {
      position: absolute;
      left: 1.5rem;
      bottom: 2.5rem;
      color: #fff; }

.usluge_more_container {
  max-width: 1250px;
  margin: auto;
  padding: 0 2rem; }
  @media (max-width: 610px) {
    .usluge_more_container {
      width: 100%; } }

.blocker {
  z-index: 5 !important; }

.usluge_more {
  background-color: #1A161A;
  display: flex;
  border-radius: 3.7rem;
  padding: 4rem;
  margin-top: 7rem;
  margin-bottom: 15rem;
  justify-content: space-between;
  align-items: center; }
  @media (max-width: 43.75em) {
    .usluge_more {
      margin-bottom: 10rem; } }
  @media (max-width: 610px) {
    .usluge_more {
      flex-direction: column;
      text-align: center;
      padding: 2rem; }
      .usluge_more .btn {
        margin-top: 3.5rem; } }
  .usluge_more_text {
    color: #fff; }
    .usluge_more_text h2 {
      font-size: 2.5rem;
      line-height: 3rem;
      font-weight: 600;
      margin-bottom: 2rem; }
    .usluge_more_text p {
      font-size: 1.8rem; }

.about:after {
  content: "";
  border-radius: 0.7rem;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F8F8F8;
  height: 100vh;
  position: absolute;
  z-index: -1; }

.about {
  max-width: 1750px;
  position: relative;
  margin: 0 3rem;
  margin: auto; }
  .about_container {
    padding-top: 3.5rem;
    margin: auto;
    padding-bottom: 3rem; }
    .about_container .container h2 {
      font-size: 2.6rem;
      color: #474747;
      width: 70%;
      margin-bottom: 3rem;
      font-weight: 800; }
      @media (max-width: 56.25em) {
        .about_container .container h2 {
          width: 100%; } }
    .about_container .container .about_red_text {
      color: #CF4B2F;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase; }
    .about_container .container .about_main_text {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 43.75em) {
        .about_container .container .about_main_text {
          flex-direction: column; } }
    .about_container .container .about_main_text p {
      display: inline-block;
      width: 47%;
      font-size: 1.6rem;
      color: #5B5B5B; }
      @media (max-width: 43.75em) {
        .about_container .container .about_main_text p {
          margin: 1.5rem auto;
          width: 100%; } }

#gallery {
  margin-top: 12rem;
  margin-bottom: 17rem; }
  @media (max-width: 43.75em) {
    #gallery {
      margin-bottom: 10rem;
      margin-top: 9rem; } }
  #gallery .gallery_red_text {
    color: #CF4B2F;
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase; }
  #gallery h2 {
    font-size: 2.6rem;
    color: #474747;
    margin-bottom: 3rem;
    font-weight: 800; }

#kontakt {
  background-color: #1A161A;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 5rem; }
  #kontakt .title {
    margin-bottom: 4rem; }
    #kontakt .title p {
      font-size: 1.6rem;
      color: #fff; }
    #kontakt .title h2 {
      font-size: 2.7rem;
      font-weight: 800;
      color: #fff;
      padding-top: 3rem; }
  #kontakt .special {
    border: none;
    border-radius: 2rem;
    width: 18rem;
    height: 11rem;
    background-color: #CF4B2F;
    outline: none; }
  #kontakt .fa-phone-alt {
    width: 4rem;
    color: #fff; }
  #kontakt p {
    font-size: 1.6rem;
    color: #fff;
    padding-top: 1.5rem; }
  #kontakt .special_2 {
    border: none;
    border-radius: 2rem;
    width: 18rem;
    height: 11rem;
    background-color: #1A161A;
    color: #fff;
    margin-left: 1rem;
    outline: none; }
  #kontakt .special:hover,
  #kontakt .special_2:hover {
    cursor: pointer; }

.contact_form {
  background-color: #fff;
  max-width: 50rem;
  border-radius: 2rem;
  margin: auto;
  margin-top: 5rem; }
  .contact_form label {
    display: block;
    text-align: left;
    font-size: 1.4rem;
    margin-bottom: 0.3rem; }
  .contact_form input {
    padding: 0.75rem;
    border-radius: 0.7rem;
    border: 1px #707070 solid;
    outline: none;
    transition: all 0.2s ease-in-out;
    width: 100%;
    margin-bottom: 2rem; }
  .contact_form input:focus {
    border: 1px #CF4B2F solid;
    transition: all 0.2s ease-in-out; }
  .contact_form .form_container {
    max-width: 400px;
    margin: auto;
    padding: 3rem;
    padding-top: 1.5rem; }
  .contact_form textarea {
    padding: 0.75rem;
    border-radius: 0.7rem;
    outline: none;
    transition: all 0.2s ease-in-out;
    resize: none;
    background-color: #F5F5F5;
    width: 100%;
    margin-bottom: 2rem;
    border: 1px transparent solid;
    font-family: inherit; }
  .contact_form textarea:focus {
    border: 1px #CF4B2F solid;
    transition: all 0.2s ease-in-out; }

#kontakt {
  padding: 2rem;
  padding-bottom: 1rem; }
  #kontakt .special_title {
    color: #1A161A;
    font-weight: 600;
    font-size: 1.7rem; }
  #kontakt .special_paragraph {
    color: #fff; }

.button_btn {
  border: 1px transparent solid;
  border-radius: 0.7rem;
  outline: none;
  padding: 1.5rem 20%; }

.button_btn:hover {
  cursor: pointer; }

.button_btn:focus {
  border: 1.5px #333 solid; }

.main_title {
  font-size: 2.7rem;
  margin-bottom: 3rem; }

.second_title {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 0.7rem; }

.basic_text {
  font-size: 1.7rem;
  color: #493E49;
  margin-bottom: 2.3rem; }

.materials_container {
  margin-top: 12rem; }

.image_container {
  width: 100%;
  background-color: #1A161A;
  padding: 2rem;
  border-radius: 0.8rem;
  margin-bottom: 6rem; }

.image_container img {
  width: 30%;
  display: block;
  margin: auto;
  margin-top: 4.5rem; }

.primary_color {
  color: #CF4B2F; }

.fa-check {
  color: #4EC572; }

.image_container_2 {
  width: 100%;
  background-color: #1A161A;
  padding: 3rem;
  border-radius: 0.8rem;
  margin-bottom: 6rem; }

.image_container_2 img {
  width: 30%;
  display: block;
  margin: auto; }

.cenovnik {
  margin-top: 12rem;
  width: 100%;
  margin-bottom: 7rem; }
  .cenovnik .grid_block_1 {
    grid-column: 1 / 3;
    border: #CF4B2F 1px solid;
    padding: 1.5rem; }
  .cenovnik .table {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(11, fr);
    grid-template-columns: repeat(2, 1fr); }
  .cenovnik .grid_block {
    grid-column: 1 / 3;
    border: #707070 1px solid;
    padding: 1.5rem; }
  .cenovnik .basic_text_2 {
    font-size: 1.7rem;
    color: #333; }
  .cenovnik .grid_block_2 {
    padding: 1.5rem; }
    @media (max-width: 43.75em) {
      .cenovnik .grid_block_2 {
        grid-column: 1 / 3; } }
  .cenovnik .primary_color {
    color: #CF4B2F; }

.image_container_basic {
  margin: auto;
  width: 100%;
  display: block;
  margin-bottom: 6rem; }
  .image_container_basic img {
    display: block;
    margin: auto;
    width: 100%; }

.usluge_container {
  max-width: 800px; }
  .usluge_container .basic_text {
    margin-bottom: 5rem; }
