.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: $color-secondary;
   color: $color-white;
   padding: 1rem 3rem;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 3;
   width: 100%;
}


.btn_navbar {
   padding: 1rem 3.5rem;
   background-color: $color-primary;
   color: $color-white;
   font-size: 1.5rem;
   text-decoration: none;
   border-radius: 2.1rem;
}

.logo {
   font-size: 2.3rem;
   margin: .5rem;
}

.navbar_links ul {
   margin: 0;
   padding: 0;
   display: flex;
}

.navbar_links li {
   list-style: none;
}

.navbar_links li a {
   text-decoration: none;
   color: $color-white;
   padding: 1rem;
   display: block;
   position: relative;
   font-size: 1.5rem;
   transition: all 0.3s ease-in-out;
}

.navbar_links li a:hover:after {
   content: "";
   position: absolute;
   left: 25%;
   right: 25%;
   bottom: 0;
   width: 50%;
   height: 1px;
   background-color: $color-primary;
   transition: all 0.3s ease-in-out;
}

