.container {
   max-width: 1250px;
   margin: auto;
   padding: 0 2.5rem;
}

.btn {
   background-color: $color-primary;
   border-radius: 3rem;
   padding: 1.5rem 8rem;
   text-decoration: none;
   color: $color-white;
   font-size: 1.8rem;
   transform: translateY(0);
   transition: all 0.15s ease-in-out;
   backface-visibility: hidden;
}

.special_border_bottom {
   border-bottom: 1px $color-primary solid;
}

.btn:hover {
   background-color: $color-primary-dark;
   transform: translateY(-0.5rem);
   transition: all 0.15s ease-in-out;
   -webkit-box-shadow: 0px 4px 50px -7px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 4px 50px -7px rgba(0,0,0,0.75);
   box-shadow: 0px 4px 50px -7px rgba(0,0,0,0.75);
   backface-visibility: hidden;
}

.btn:active {
   transform: translateY(0.2rem);
   transition: all 0.15s ease-in-out;
   -webkit-box-shadow: 0px 18px 67px -29px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 18px 67px -29px rgba(0,0,0,0.75);
   box-shadow: 0px 18px 67px -29px rgba(0,0,0,0.75);
   backface-visibility: hidden;
}

.block {
   display: block;
}

.width_and_height_max {
   width: 100%;
   height: 100%;
}

.flex {
   display: flex;
}

.small {
   width: 5rem;
}

.height_big {
   height: 100vh;
}

.text_center {
   text-align: center;
}

.border_primary {
   border: $color-primary 1px solid;
}

.text_semibold {
   font-weight: 600;
}

.form-error {
   color: red;
}

.form-success {
   color: green;
}

.input-error {
   box-shadow: 0 0 5px red;
}

.form-message {
   margin: 1rem;
}