.home {
   height: 100%;
   width: 100%;
   background-color: $color-secondary;
   position: relative;
   overflow: hidden;
}

.home_picture {
   margin: auto;
   width: 116rem;
   padding: 7rem;
   overflow: hidden;
}

.home_picture img {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.home_text {
   margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);

   & p {
      font-size: 2rem;
      color: $color-primary;
   }

  & h1 {
     color: $color-white;
     font-size: 4.5rem;
     font-weight: 400;
  }
}

.usluge_description {
   padding: 10rem 0;
   max-width: 74rem;

   .usluge_red_text {
      color: $color-primary;
      font-weight: 600;
      font-size: 1.8rem;
   }

   & h2 {
      font-size: 3.3rem;
      font-weight: 800;
      line-height: 5rem;
      color: $color-secondary;
      margin: 2rem 0;
   }

   &_main {
      font-size: 2rem;
      color: #5B5B5B;
      line-height: 3.8rem;
   }
}

.swiper-container {
   width: 90%;

   .swiper-slide {
      font-size: 3.3rem;
      padding: 0 2rem;
      
      & img {
         width: 100%;
         height: 100%;
      }
   }

}