#home {
   background-color: $color-secondary;
   color: $color-white;
}

.home_picture {
   max-width: 1250px;
   position: absolute;
   top:50%;
   right: 0;
   transform: translate(0, -50%);
   z-index: 1;

   .main_image {
      width: 90rem;
      z-index: 1;
   }
}  

.home_container {
   max-width: 1250px;
   margin: auto;
   height: 100vh;
   display: flex;
   align-items: center;
   position: relative;

   .header_text {
      z-index: 2;

      .header_red_text {
         color: $color-primary;
         font-size: 1.6rem;
      }

      .home_title {
         font-size: 3.3rem;
         font-weight: 600;
         line-height: 5rem;
         margin-bottom: 4rem;
      }
   }
}

.usluge_description {
   padding: 5rem 0;
   max-width: 74rem;

   .usluge_red_text {
      color: $color-primary;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
   }

   & h2 {
      font-size: 2.7rem;
      font-weight: 800;
      line-height: 4rem;
      color: $color-secondary;
      margin: 2rem 0;
   }

   &_main {
      font-size: 1.7rem;
      color: #5B5B5B;
      line-height: 3.5rem;
   }
}

.swiper-container {
   width: 95%;

   .swiper-slide {
      font-size: 2.7rem;
      padding: 0 2rem;
      
      &_container {
         position: relative;
      }

      & img {
         width: 100%;
         height: 100%;
         border-radius: 11px;
      }

      & p {
         position: absolute;
         left: 1.5rem;
         bottom: 2.5rem;
         color: $color-white;
      }
   }
}

.usluge_more_container {
   max-width: 1250px;
   margin: auto;
}

.usluge_more {
   background-color: $color-secondary;
   display: flex;
   border-radius: 3.7rem;
   padding: 4rem;
   margin-top: 7rem;
   margin-bottom: 15rem;
   justify-content: space-between;
   align-items: center;

   &_text {
      color: $color-white;
      width: 50%;

      & h2 {
         font-size: 2.5rem;
         line-height: 5rem;
         font-weight: 600;
      }

      & p {
         font-size: 1.8rem;
      }
   }
}


.about:after {
   content:"";
   border-radius: 0.7rem;
   top: 0;
   left: 0;
   width: 100%;
   background-color: #F8F8F8;
   height: 100vh;
   position: absolute;
   z-index: -1;
}

.about {
   max-width: 1450px;
   position: relative;
   margin: 0 3rem;
   margin: auto;

   &_container {
      padding-top: 3.5rem;
      margin: auto;
      padding-bottom: 3rem;
      .container {

         h2 {
            font-size: 2.6rem;
            color: #474747;
            width: 70%;
            margin-bottom: 3rem;
            font-weight: 800;
         }
         .about_red_text {
            color: $color-primary;
            font-weight: 600;
            font-size: 1.6rem;
            text-transform: uppercase;
         }
         .about_main_text {
            display: flex;
            justify-content: space-between;
         }

         .about_main_text p {
            display: inline-block;
            width: 47%;
            font-size: 1.5rem;
            color: #5B5B5B;
         }
      }
   }
}

#gallery {
   margin-top: 12rem;
   margin-bottom: 17rem;

   .gallery_red_text {
      color: $color-primary;
      font-weight: 600;
      font-size: 1.6rem;
      text-transform: uppercase;
   }

   h2 {
      font-size: 2.6rem;
      color: #474747;
      width: 70%;
      margin-bottom: 3rem;
      font-weight: 800;
   }
}

#kontakt {
   background-color: $color-secondary;
   text-align: center;
   padding-top: 7rem;
   padding-bottom: 5rem;

   .title {
      margin-bottom: 4rem;

      p {
         font-size: 1.6rem;
         color: $color-white;
      }

   h2 {
      font-size: 2.7rem;
      font-weight: 800;
      color: $color-white;
   }
   }

   .special {
      border: none;
      border-radius: 2rem;
      width: 18rem;
      height: 11rem;
      background-color: $color-primary;
      outline: none;
   }

   .fa-phone-alt {
      width: 4rem;
      color: $color-white;
   }

   p {
      font-size: 1.6rem;
      color: $color-white;
      padding-top: 1.5rem;
   }

   .special_2 {
      border: none;
      border-radius: 2rem;
      width: 18rem;
      height: 11rem;
      background-color: $color-secondary;
      color: $color-white;
      margin-left: 1rem;
      outline: none;
   }

   .special:hover,
   .special_2:hover {
      cursor: pointer;
   }
}

.contact_form {
   background-color: $color-white;
   max-width: 50rem;
   border-radius: 2rem;
   margin: auto;
   margin-top: 5rem;

   label {
      display: block;
      text-align: left;
      font-size: 1.4rem;
      margin-bottom: 0.3rem;
   }

   input {
      padding: 0.75rem;
      border-radius: 0.7rem;
      border: 1px #707070 solid;
      outline: none;
      transition: all 0.2s ease-in-out;
      width: 100%;
      margin-bottom: 2rem;
   }

   input:focus {
      border: 1px $color-primary solid;
      transition: all 0.2s ease-in-out;
   }

   .form_container {
      max-width: 400px;
      margin: auto;
      padding: 3rem;
      padding-top: 1.5rem;
   }

   textarea {
      padding: 0.75rem;
      border-radius: 0.7rem;
      outline: none;
      transition: all 0.2s ease-in-out;
      resize: none;
      background-color: #F5F5F5;
      width: 100%;
      margin-bottom: 2rem;
      border: 1px transparent solid;
   }

   textarea:focus {
      border: 1px $color-primary solid;
      transition: all 0.2s ease-in-out;
   }

}

#kontakt {

   .special_title {
      color: $color-secondary;
      font-weight: 600;
      font-size: 1.7rem;
   }

   .special_paragraph {
      color: $color-white;
   }
}

.button_btn {
   border: 1px transparent solid;
   border-radius: 0.7rem;
   outline: none;
   color: $color-secondary;
}

.button_btn:focus {
   border: 1.5px #333 solid;
}

