.image_container_basic {
   margin: auto;
   width: 110%;
   display: block;
   margin-bottom: 6rem;

   img {
      display: block;
      margin: auto;
      width: 100%;
   }

}

.usluge_container {
   max-width: 800px;
}

